.header{
    margin-top: 20px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: "Barlow";
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        padding-left: 33px;
    }

    .nav__link{
        color: #83888F;
        font-family: "Barlow";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;
        transition: all 0.6s ease;
    }

    .nav__link:hover{
        color: #333D4B;
    }

    .header__response{
        display: none;
    }

    .nav__btn{
        display: none;
        background-color: white;
        color: white;
        border: none;
        cursor: pointer;
        margin-left: 50px;
    }

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
    
    /* Retina-specific stuff here */
    }

    @media only screen and (max-width: 600px){
        .header__logo{
            display: none;
        }

        .header__response{
            display: block;
        }

        .nav__btn{
            display: block;
        }

        .nav__list{
            display: none;
        }
    }
}